In [1]:
import pandas as pd
import numpy as np

In [2]:
ben_sqi = pd.read_csv('FOTR_Capstone-main/BENTHIC_MACROINVERTEBRATES_SQI.csv')

In [3]:
ben_sqi.head()

,FIELDID,Latitude,Longitude,F22 SQI,SP22 SQI,F21 SQI,SP21 SQI,F20 SQI,SP20 SQI,F19 SQI,...,SP05 SQI,F04 SQI,SP04 SQI,F03 SQI,SP03 SQI,F02 SQI,SP02 SQI,F01 SQI,SP01 SQI,Unnamed: 47
0,Bish1,42.482378,-83.460553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15.0,NaN,17.0,NaN,21.0,NaN,22.0,NaN
1,Bish2,42.471310,-83.451510,38.0,NaN,21.0,28.0,20.0,NaN,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Evan1,42.504517,-83.233388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Evan2,42.472955,-83.247905,20.0,16.0,14.0,12.0,21.0,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Evan3,42.459278,-83.268639,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ben_sqi.shape

(127, 48)

In [5]:
ben_sqi.columns

Index(['FIELDID', 'Latitude', 'Longitude', 'F22 SQI', 'SP22 SQI', 'F21 SQI',
       'SP21 SQI', 'F20 SQI', 'SP20 SQI', 'F19 SQI', 'SP19 SQI', 'F18 SQI',
       'SP18 SQI', 'F17 SQI', 'SP17 SQI', 'F16 SQI', 'SP16 SQI', 'F15 SQI',
       'SP15 SQI', 'F14 SQI', 'SP14 SQI', 'F13 SQI', 'SP13 SQI', 'F12 SQI',
       'SP12 SQI', 'F11 SQI', 'SP11 SQI', 'F10 SQI', 'SP10 SQI', 'F09 SQI',
       'SP09 SQI', 'F08 SQI', 'SP08 SQI', 'F07 SQI', 'SP07 SQI', 'F06 SQI',
       'SP06 SQI', 'F05 SQI', 'SP05 SQI', 'F04 SQI', 'SP04 SQI', 'F03 SQI',
       'SP03 SQI', 'F02 SQI', 'SP02 SQI', 'F01 SQI', 'SP01 SQI',
       'Unnamed: 47'],
      dtype='object')

In [6]:
ben_sqi.drop(columns=['Unnamed: 47'], inplace=True)

In [7]:
ben_sqi_new = ben_sqi
ben_sqi_new.head()

,FIELDID,Latitude,Longitude,F22 SQI,SP22 SQI,F21 SQI,SP21 SQI,F20 SQI,SP20 SQI,F19 SQI,...,F05 SQI,SP05 SQI,F04 SQI,SP04 SQI,F03 SQI,SP03 SQI,F02 SQI,SP02 SQI,F01 SQI,SP01 SQI
0,Bish1,42.482378,-83.460553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.0,NaN,17.0,NaN,21.0,NaN,22.0
1,Bish2,42.471310,-83.451510,38.0,NaN,21.0,28.0,20.0,NaN,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Evan1,42.504517,-83.233388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Evan2,42.472955,-83.247905,20.0,16.0,14.0,12.0,21.0,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Evan3,42.459278,-83.268639,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
sqi_cols = ['F22 SQI', 'SP22 SQI', 'F21 SQI',
       'SP21 SQI', 'F20 SQI', 'SP20 SQI', 'F19 SQI', 'SP19 SQI', 'F18 SQI',
       'SP18 SQI', 'F17 SQI', 'SP17 SQI', 'F16 SQI', 'SP16 SQI', 'F15 SQI',
       'SP15 SQI', 'F14 SQI', 'SP14 SQI', 'F13 SQI', 'SP13 SQI', 'F12 SQI',
       'SP12 SQI', 'F11 SQI', 'SP11 SQI', 'F10 SQI', 'SP10 SQI', 'F09 SQI',
       'SP09 SQI', 'F08 SQI', 'SP08 SQI', 'F07 SQI', 'SP07 SQI', 'F06 SQI',
       'SP06 SQI', 'F05 SQI', 'SP05 SQI', 'F04 SQI', 'SP04 SQI', 'F03 SQI',
       'SP03 SQI', 'F02 SQI', 'SP02 SQI', 'F01 SQI', 'SP01 SQI']

In [9]:
benthics_sqi = pd.DataFrame(columns=['FIELDID', 'Latitude', 'Longitude', 'Date', 'SQI'], index=['FIELDID'])
for index, row in ben_sqi_new.iterrows():
    for col in ben_sqi_new[sqi_cols]:
        if col[0] == 'F':
            # pull out sampling month
            date = '09/15/' + col[1:3]
            # convert to datetime
            date_time = pd.to_datetime(date)
            # pull out SQI value
            sqi = row[col]
            # compile row dict
            info = {'FIELDID':row['FIELDID'], 'Latitude':row['Latitude'], 'Longitude':row['Longitude'], 'Date':date_time, 'SQI':sqi}
            info_df = pd.DataFrame(info, index=['Date'])
            # create new row for each sampling event
            benthics_sqi = pd.concat([benthics_sqi, info_df], ignore_index = True)

In [10]:
stoneflies_sqi = pd.DataFrame(columns=['FIELDID', 'Latitude', 'Longitude', 'Date', 'SQI'], index=['FIELDID'])
for index, row in ben_sqi_new.iterrows():
    for col in ben_sqi_new[sqi_cols]:
        if col[0] == 'S':
            # pull out sampling month
            date = '01/15/' + col[2:4]
            # convert to datetime
            date_time = pd.to_datetime(date)
            # pull out SQI value
            sqi = row[col]
            # compile row dict
            info = {'FIELDID':row['FIELDID'], 'Latitude':row['Latitude'], 'Longitude':row['Longitude'], 'Date':date_time, 'SQI':sqi}
            info_df = pd.DataFrame(info, index=['Date'])
            # create new row for each sampling event
            stoneflies_sqi = pd.concat([stoneflies_sqi, info_df], ignore_index = True)

In [11]:
benthics_sqi.head()

  FIELDID   Latitude  Longitude       Date  SQI
0     NaN        NaN        NaN        NaT  NaN
1   Bish1  42.482378 -83.460553 2022-09-15  NaN
2   Bish1  42.482378 -83.460553 2021-09-15  NaN
3   Bish1  42.482378 -83.460553 2020-09-15  NaN
4   Bish1  42.482378 -83.460553 2019-09-15  NaN

In [12]:
benthics_sqi.sample(5)

     FIELDID   Latitude  Longitude       Date   SQI
404    John5  42.422400 -83.492890 2015-09-15   NaN
720    LR-12  42.282317 -83.466103 2007-09-15   NaN
2578    UR-4  42.400014 -83.286158 2019-09-15  24.0
2507     Up2  42.463216 -83.368233 2002-09-15  39.0
487    Low12  42.283828 -83.474042 2020-09-15   NaN

In [13]:
benthics_sqi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2795 entries, 0 to 2794
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FIELDID    2794 non-null   object
 1   Latitude   2794 non-null   float64
 2   Longitude  2794 non-null   float64
 3   Date       2794 non-null   datetime64[ns]
 4   SQI        903 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 109.3+ KB

In [14]:
benthics_sqi.dropna(inplace=True)

In [15]:
benthics_sqi['SQI'] = benthics_sqi['SQI'].astype(int)

In [16]:
benthics_sqi['SQI'].value_counts()

28    52
25    47
24    45
26    44
31    42
27    41
22    41
30    37
23    36
20    34
33    32
21    29
32    28
37    26
34    26
18    26
29    26
36    25
39    24
35    22
19    21
38    21
41    17
15    16
40    15
16    14
17    12
44    11
42    10
14     9
51     8
43     8
13     7
46     7
47     6
12     5
49     5
45     4
48     4
10     3
0      3
9      3
53     2
50     2
11     2
5      2
52     1
2      1
55     1
Name: SQI, dtype: int64

In [17]:
bins = [0, 19, 33, 48, np.inf]
names = ['Poor', 'Fair', 'Good', 'Excellent']

benthics_sqi['SQI_Rating'] = pd.cut(benthics_sqi['SQI'], bins, labels=names)

In [18]:
benthics_sqi.drop_duplicates(inplace=True)

In [19]:
benthics_sqi.head()

   FIELDID  Latitude  Longitude       Date  SQI SQI_Rating
23   Bish2  42.47131  -83.45151 2022-09-15   38       Good
24   Bish2  42.47131  -83.45151 2021-09-15   21       Fair
25   Bish2  42.47131  -83.45151 2020-09-15   20       Fair
26   Bish2  42.47131  -83.45151 2019-09-15   23       Fair
28   Bish2  42.47131  -83.45151 2017-09-15   20       Fair

In [20]:
stoneflies_sqi.head()

  FIELDID   Latitude  Longitude       Date  SQI
0     NaN        NaN        NaN        NaT  NaN
1   Bish1  42.482378 -83.460553 2022-01-15  NaN
2   Bish1  42.482378 -83.460553 2021-01-15  NaN
3   Bish1  42.482378 -83.460553 2020-01-15  NaN
4   Bish1  42.482378 -83.460553 2019-01-15  NaN

In [21]:
stoneflies_sqi.drop(stoneflies_sqi.index[:2], inplace=True)

In [22]:
stoneflies_sqi.dropna(inplace=True)

In [23]:
stoneflies_sqi['SQI'] = stoneflies_sqi['SQI'].astype(int)

In [24]:
stoneflies_sqi['SQI'].value_counts()

26    48
30    44
24    42
22    37
20    36
25    34
28    33
21    32
23    31
18    29
17    28
33    27
19    27
27    26
32    25
34    23
29    22
31    22
36    22
37    18
35    17
42    16
46    16
38    15
44    15
41    15
15    15
39    14
14    14
40    13
16    13
48    11
43    11
45     9
13     8
12     8
49     7
52     6
0      5
8      5
11     4
10     4
5      3
51     3
53     2
57     2
47     2
54     2
9      2
4      2
58     1
62     1
60     1
6      1
55     1
59     1
Name: SQI, dtype: int64

In [25]:
bins = [0, 19, 33, 48, np.inf]
names = ['Poor', 'Fair', 'Good', 'Excellent']

stoneflies_sqi['SQI_Rating'] = pd.cut(stoneflies_sqi['SQI'], bins, labels=names)

In [26]:
stoneflies_sqi.drop_duplicates(inplace=True)

In [27]:
stoneflies_sqi.head()

   FIELDID   Latitude  Longitude       Date  SQI SQI_Rating
19   Bish1  42.482378 -83.460553 2004-01-15   15       Poor
20   Bish1  42.482378 -83.460553 2003-01-15   17       Poor
21   Bish1  42.482378 -83.460553 2002-01-15   21       Fair
22   Bish1  42.482378 -83.460553 2001-01-15   22       Fair
24   Bish2  42.471310 -83.451510 2021-01-15   28       Fair

In [28]:
benthics_sqi.to_csv('benthics_updated.csv')

In [29]:
stoneflies_sqi.to_csv('stoneflies_updated.csv')