In [57]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [58]:
ft = pd.read_csv('FOTR_Capstone-main/original_data/FROGS_AND_TOADS.csv')
ft.head()

,TRSQ,Observationyear,ObservationStartDate,StartTime,EndTime,WindCode,AirTemp,Precipitation,WoodFrog,ChorusFrog,SpringPeeper,AmericanToad,LeopardFrog,GrayTreeFrog,GreenFrog,BullFrog
0,T1S R7E 171,1998,3/29/1998,9:17:00 PM,9:32:00 PM,2.0,60.0,False,True,True,False,False,False,False,False,False
1,T1S R7E 171,1998,4/8/1998,8:50:00 PM,9:05:00 PM,1.0,58.0,True,False,True,False,False,False,False,False,False
2,T1S R7E 171,1998,4/26/1998,9:50:00 PM,10:05:00 PM,3.0,50.0,False,False,False,True,False,False,False,False,False
3,T1S R7E 171,1998,5/1/1998,9:10:00 PM,9:25:00 PM,2.0,60.0,False,False,False,True,True,False,False,False,False
4,T1S R7E 171,1998,3/31/1998,7:00:00 PM,NaN,2.0,73.0,False,False,False,False,False,False,False,False,False

In [59]:
ft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92979 entries, 0 to 92978
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TRSQ                  92979 non-null  object
 1   Observationyear       92979 non-null  int64
 2   ObservationStartDate  92979 non-null  object
 3   StartTime             92593 non-null  object
 4   EndTime               79149 non-null  object
 5   WindCode              90573 non-null  float64
 6   AirTemp               89577 non-null  float64
 7   Precipitation         92979 non-null  bool
 8   WoodFrog              92979 non-null  bool
 9   ChorusFrog            92979 non-null  bool
 10  SpringPeeper          92979 non-null  bool
 11  AmericanToad          92979 non-null  bool
 12  LeopardFrog           92979 non-null  bool
 13  GrayTreeFrog          92979 non-null  bool
 14  GreenFrog             92979 non-null  bool
 15  BullFrog              92979 non-null  bool
dtypes: bool(9), float64(2), int64(1), object(4)
memory usage: 5.8+ MB

In [60]:
ft_types = ft[['WoodFrog', 'ChorusFrog', 'SpringPeeper', 'AmericanToad', 'LeopardFrog', 
               'GrayTreeFrog', 'GreenFrog', 'BullFrog']]
ft['num_species'] = ft_types[ft_types == True].sum(axis=1).astype(int)

In [61]:
ft[['WoodFrog', 'ChorusFrog', 'SpringPeeper', 'AmericanToad', 'LeopardFrog', 
               'GrayTreeFrog', 'GreenFrog', 'BullFrog']] = ft[['WoodFrog', 'ChorusFrog', 'SpringPeeper', 'AmericanToad', 'LeopardFrog', 
               'GrayTreeFrog', 'GreenFrog', 'BullFrog']].astype(int)

In [62]:
ft

,TRSQ,Observationyear,ObservationStartDate,StartTime,EndTime,WindCode,AirTemp,Precipitation,WoodFrog,ChorusFrog,SpringPeeper,AmericanToad,LeopardFrog,GrayTreeFrog,GreenFrog,BullFrog,num_species
0,T1S R7E 171,1998,3/29/1998,9:17:00 PM,9:32:00 PM,2.0,60.0,False,1,1,0,0,0,0,0,0,2
1,T1S R7E 171,1998,4/8/1998,8:50:00 PM,9:05:00 PM,1.0,58.0,True,0,1,0,0,0,0,0,0,1
2,T1S R7E 171,1998,4/26/1998,9:50:00 PM,10:05:00 PM,3.0,50.0,False,0,0,1,0,0,0,0,0,1
3,T1S R7E 171,1998,5/1/1998,9:10:00 PM,9:25:00 PM,2.0,60.0,False,0,0,1,1,0,0,0,0,2
4,T1S R7E 171,1998,3/31/1998,7:00:00 PM,NaN,2.0,73.0,False,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92974,T1S R8E 6 3,2022,6/5/2022,9:40:00 PM,9:55:00 PM,1.0,65.0,False,0,0,0,0,0,1,0,0,1
92975,T1S R8E 6 1,2022,4/2/2022,6:35:00 PM,6:50:00 PM,0.0,45.0,False,1,1,0,0,0,0,0,0,2
92976,T1S R8E 6 1,2022,4/3/2022,8:00:00 PM,8:15:00 PM,0.0,45.0,False,0,1,0,0,0,0,0,0,1
92977,T1S R8E 6 1,2022,4/5/2022,9:00:00 PM,9:15:00 PM,1.0,52.0,False,1,1,1,0,0,0,0,0,3
92978,T1S R8E 6 1,2022,4/10/2022,8:15:00 PM,8:30:00 PM,1.0,54.0,False,1,1,1,0,0,0,0,0,3

In [63]:
ft.to_csv('cleaned_ft.csv')

In [64]:
ft[['Observationyear', 'num_species']].groupby('Observationyear').sum()

                 num_species
Observationyear
1998                    1265
1999                    2276
2000                     883
2001                    1681
2002                    2217
2003                    6063
2004                    6776
2005                    9526
2006                    6354
2007                    8376
2008                    7530
2009                    7287
2010                    7248
2011                    6582
2012                    6150
2013                    6010
2014                    1806
2015                     959
2016                    1194
2017                    1739
2018                    1603
2019                    1432
2020                    1548
2021                    1478
2022                    1455

In [65]:
num_year = ft[['Observationyear', 'num_species']].groupby('Observationyear').mean()
num_year

                 num_species
Observationyear
1998                1.613520
1999                1.148335
2000                0.850674
2001                0.902793
2002                0.900853
2003                0.973819
2004                0.969246
2005                0.982872
2006                1.086711
2007                1.325107
2008                1.163114
2009                1.014620
2010                1.115935
2011                1.107521
2012                1.040609
2013                1.024898
2014                1.181937
2015                1.200250
2016                1.161479
2017                1.237722
2018                1.180412
2019                1.171849
2020                1.018421
2021                0.910099
2022                1.022488

In [66]:
yr_entries = ft['Observationyear'].value_counts().sort_index().tolist()

In [73]:
ft_types = ft[['Observationyear', 'WoodFrog', 'ChorusFrog', 'SpringPeeper', 'AmericanToad', 'LeopardFrog', 
               'GrayTreeFrog', 'GreenFrog', 'BullFrog']]
by_year = ft_types.groupby('Observationyear').sum()
by_year['avg_species'] = num_year['num_species']
by_year['num_entries'] = yr_entries
by_year['WoodFrog'] = by_year['WoodFrog'] / by_year['num_entries']
by_year['ChorusFrog'] = by_year['ChorusFrog'] / by_year['num_entries']
by_year['SpringPeeper'] = by_year['SpringPeeper'] / by_year['num_entries']
by_year['AmericanToad'] = by_year['AmericanToad'] / by_year['num_entries']
by_year['LeopardFrog'] = by_year['LeopardFrog'] / by_year['num_entries']
by_year['GrayTreeFrog'] = by_year['GrayTreeFrog'] / by_year['num_entries']
by_year['GreenFrog'] = by_year['GreenFrog'] / by_year['num_entries']
by_year['BullFrog'] = by_year['BullFrog'] / by_year['num_entries']
by_year

,WoodFrog,ChorusFrog,SpringPeeper,AmericanToad,LeopardFrog,GrayTreeFrog,GreenFrog,BullFrog,avg_species,num_entries
Observationyear,,,,,,,,,,
1998,0.141582,0.460459,0.604592,0.256378,0.008929,0.104592,0.035714,0.001276,1.613520,784
1999,0.082240,0.294652,0.321897,0.175580,0.007568,0.168517,0.094854,0.003027,1.148335,1982
2000,0.031792,0.231214,0.231214,0.158960,0.013487,0.135838,0.048170,0.000000,0.850674,1038
2001,0.040279,0.180451,0.191729,0.204619,0.018260,0.109560,0.138561,0.019334,0.902793,1862
2002,0.049980,0.142219,0.201950,0.258025,0.021536,0.086550,0.127590,0.013003,0.900853,2461
2003,0.053004,0.162384,0.207677,0.211050,0.039030,0.134918,0.137327,0.028429,0.973819,6226
2004,0.056644,0.174224,0.224861,0.158346,0.015019,0.158346,0.158060,0.023745,0.969246,6991
2005,0.039930,0.157553,0.197482,0.158481,0.037454,0.170243,0.197998,0.023731,0.982872,9692
2006,0.041560,0.147255,0.197537,0.213443,0.024115,0.193946,0.238584,0.030272,1.086711,5847
2007,0.069293,0.217845,0.230185,0.232558,0.039867,0.232558,0.253441,0.049359,1.325107,6321
2008,0.039388,0.141335,0.169138,0.266450,0.030120,0.199259,0.248378,0.069045,1.163114,6474
2009,0.054720,0.147870,0.158312,0.216374,0.025898,0.176274,0.204261,0.030911,1.014620,7182
2010,0.050808,0.135335,0.176905,0.212933,0.029561,0.205543,0.266051,0.038799,1.115935,6495
2011,0.048965,0.121656,0.195356,0.242807,0.034831,0.204947,0.223624,0.035336,1.107521,5943
2012,0.045685,0.130457,0.191878,0.204061,0.034518,0.173096,0.214721,0.046193,1.040609,5910
2013,0.040416,0.136085,0.164052,0.181446,0.025239,0.185027,0.231071,0.061562,1.024898,5864
2014,0.073953,0.260471,0.252618,0.306283,0.043848,0.123691,0.102094,0.018979,1.181937,1528
2015,0.043805,0.180225,0.167710,0.259074,0.016270,0.246558,0.229036,0.057572,1.200250,799
2016,0.064202,0.152724,0.243191,0.238327,0.024319,0.219844,0.180934,0.037938,1.161479,1028
2017,0.066192,0.176512,0.222064,0.262633,0.037722,0.208541,0.217082,0.046975,1.237722,1405
2018,0.053019,0.164212,0.215758,0.236377,0.030191,0.218704,0.217231,0.044919,1.180412,1358
2019,0.045008,0.198854,0.174304,0.298691,0.033552,0.184124,0.183306,0.054010,1.171849,1222
2020,0.028289,0.153289,0.165789,0.248026,0.031579,0.150000,0.198026,0.043421,1.018421,1520
2021,0.028941,0.114532,0.131158,0.220443,0.021552,0.184113,0.172414,0.036946,0.910099,1624
2022,0.036543,0.133521,0.142656,0.213633,0.013352,0.196767,0.236824,0.049192,1.022488,1423

In [74]:
by_year.to_csv('normalized_data_by_year.csv')

In [80]:
loc_dict = ft['TRSQ'].value_counts().sort_index().to_dict()

{'T1N R10E1 1': 3,
 'T1N R10E1 3': 53,
 'T1N R10E102': 22,
 'T1N R10E104': 33,
 'T1N R10E112': 90,
 'T1N R10E113': 106,
 'T1N R10E122': 1,
 'T1N R10E142': 6,
 'T1N R10E151': 12,
 'T1N R10E162': 57,
 'T1N R10E163': 36,
 'T1N R10E173': 2,
 'T1N R10E183': 4,
 'T1N R10E184': 145,
 'T1N R10E191': 16,
 'T1N R10E193': 51,
 'T1N R10E2 2': 327,
 'T1N R10E2 4': 36,
 'T1N R10E201': 75,
 'T1N R10E202': 9,
 'T1N R10E203': 30,
 'T1N R10E204': 18,
 'T1N R10E211': 57,
 'T1N R10E212': 15,
 'T1N R10E213': 54,
 'T1N R10E214': 16,
 'T1N R10E232': 284,
 'T1N R10E233': 7,
 'T1N R10E243': 36,
 'T1N R10E261': 3,
 'T1N R10E271': 7,
 'T1N R10E272': 45,
 'T1N R10E274': 4,
 'T1N R10E291': 175,
 'T1N R10E292': 235,
 'T1N R10E3 1': 115,
 'T1N R10E3 3': 51,
 'T1N R10E3 4': 246,
 'T1N R10E301': 694,
 'T1N R10E302': 187,
 'T1N R10E304': 38,
 'T1N R10E311': 12,
 'T1N R10E312': 31,
 'T1N R10E313': 15,
 'T1N R10E314': 51,
 'T1N R10E322': 9,
 'T1N R10E323': 285,
 'T1N R10E324': 30,
 'T1N R10E332': 9,
 'T1N R10E334': 15,
 'T1N R10E342': 355,
 'T1N R10E4 1': 46,
 'T1N R10E4 2': 4,
 'T1N R10E4 4': 89,
 'T1N R10E5 1': 18,
 'T1N R10E5 2': 24,
 'T1N R10E5 3': 244,
 'T1N R10E6 1': 12,
 'T1N R10E6 4': 31,
 'T1N R10E7 1': 27,
 'T1N R10E8 2': 129,
 'T1N R10E8 3': 5,
 'T1N R10E8 4': 42,
 'T1N R10E9 1': 26,
 'T1N R10E9 2': 81,
 'T1N R10E9 4': 3,
 'T1N R7E 353': 1,
 'T1N R7E 354': 7,
 'T1N R7E 361': 33,
 'T1N R7E 362': 2,
 'T1N R7E 363': 41,
 'T1N R7E 364': 32,
 'T1N R8E 1 1': 120,
 'T1N R8E 1 2': 6,
 'T1N R8E 1 3': 8,
 'T1N R8E 1 4': 11,
 'T1N R8E 101': 148,
 'T1N R8E 102': 83,
 'T1N R8E 103': 6,
 'T1N R8E 104': 5,
 'T1N R8E 111': 1,
 'T1N R8E 113': 4,
 'T1N R8E 114': 147,
 'T1N R8E 121': 1,
 'T1N R8E 122': 12,
 'T1N R8E 124': 3,
 'T1N R8E 131': 19,
 'T1N R8E 132': 6,
 'T1N R8E 133': 6,
 'T1N R8E 134': 4,
 'T1N R8E 141': 14,
 'T1N R8E 142': 6,
 'T1N R8E 143': 11,
 'T1N R8E 144': 1,
 'T1N R8E 151': 3,
 'T1N R8E 152': 2,
 'T1N R8E 153': 2,
 'T1N R8E 154': 2,
 'T1N R8E 161': 8,
 'T1N R8E 162': 5,
 'T1N R8E 163': 4,
 'T1N R8E 164': 46,
 'T1N R8E 171': 9,
 'T1N R8E 172': 9,
 'T1N R8E 173': 9,
 'T1N R8E 174': 84,
 'T1N R8E 2 3': 6,
 'T1N R8E 2 4': 15,
 'T1N R8E 211': 113,
 'T1N R8E 212': 166,
 'T1N R8E 213': 56,
 'T1N R8E 214': 134,
 'T1N R8E 221': 24,
 'T1N R8E 222': 392,
 'T1N R8E 223': 20,
 'T1N R8E 231': 131,
 'T1N R8E 232': 1,
 'T1N R8E 234': 9,
 'T1N R8E 241': 110,
 'T1N R8E 242': 94,
 'T1N R8E 243': 1,
 'T1N R8E 244': 4,
 'T1N R8E 251': 22,
 'T1N R8E 252': 42,
 'T1N R8E 253': 136,
 'T1N R8E 254': 22,
 'T1N R8E 261': 14,
 'T1N R8E 262': 4,
 'T1N R8E 263': 7,
 'T1N R8E 264': 16,
 'T1N R8E 271': 138,
 'T1N R8E 272': 341,
 'T1N R8E 274': 35,
 'T1N R8E 281': 72,
 'T1N R8E 282': 12,
 'T1N R8E 283': 20,
 'T1N R8E 284': 12,
 'T1N R8E 291': 212,
 'T1N R8E 294': 292,
 'T1N R8E 3 2': 86,
 'T1N R8E 3 3': 80,
 'T1N R8E 3 4': 59,
 'T1N R8E 312': 81,
 'T1N R8E 313': 167,
 'T1N R8E 314': 12,
 'T1N R8E 321': 180,
 'T1N R8E 322': 36,
 'T1N R8E 323': 105,
 'T1N R8E 324': 87,
 'T1N R8E 331': 187,
 'T1N R8E 332': 251,
 'T1N R8E 333': 98,
 'T1N R8E 334': 118,
 'T1N R8E 341': 14,
 'T1N R8E 342': 7,
 'T1N R8E 343': 1,
 'T1N R8E 344': 28,
 'T1N R8E 351': 58,
 'T1N R8E 352': 136,
 'T1N R8E 353': 44,
 'T1N R8E 354': 3,
 'T1N R8E 361': 23,
 'T1N R8E 362': 31,
 'T1N R8E 363': 8,
 'T1N R8E 364': 6,
 'T1N R8E 4 1': 9,
 'T1N R8E 4 2': 5,
 'T1N R8E 4 3': 10,
 'T1N R8E 4 4': 161,
 'T1N R8E 5 4': 1,
 'T1N R8E 8 1': 8,
 'T1N R8E 8 3': 10,
 'T1N R8E 8 4': 29,
 'T1N R8E 9 1': 115,
 'T1N R8E 9 3': 7,
 'T1N R8E 9 4': 3,
 'T1N R9E 102': 57,
 'T1N R9E 103': 16,
 'T1N R9E 104': 180,
 'T1N R9E 112': 48,
 'T1N R9E 113': 149,
 'T1N R9E 114': 7,
 'T1N R9E 121': 294,
 'T1N R9E 122': 351,
 'T1N R9E 123': 149,
 'T1N R9E 124': 9,
 'T1N R9E 131': 32,
 'T1N R9E 132': 25,
 'T1N R9E 133': 87,
 'T1N R9E 141': 9,
 'T1N R9E 143': 48,
 'T1N R9E 151': 9,
 'T1N R9E 161': 135,
 'T1N R9E 162': 201,
 'T1N R9E 174': 17,
 'T1N R9E 181': 5,
 'T1N R9E 183': 4,
 'T1N R9E 184': 12,
 'T1N R9E 191': 123,
 'T1N R9E 2 1': 27,
 'T1N R9E 2 2': 15,
 'T1N R9E 2 3': 18,
 'T1N R9E 2 4': 33,
 'T1N R9E 201': 16,
 'T1N R9E 202': 138,
 'T1N R9E 203': 42,
 'T1N R9E 204': 59,
 'T1N R9E 211': 169,
 'T1N R9E 212': 92,
 'T1N R9E 213': 126,
 'T1N R9E 214': 311,
 'T1N R9E 221': 41,
 'T1N R9E 222': 106,
 'T1N R9E 223': 78,
 'T1N R9E 231': 34,
 'T1N R9E 232': 31,
 'T1N R9E 234': 25,
 'T1N R9E 241': 62,
 'T1N R9E 242': 10,
 'T1N R9E 243': 6,
 'T1N R9E 244': 18,
 'T1N R9E 252': 4,
 'T1N R9E 254': 51,
 'T1N R9E 261': 27,
 'T1N R9E 262': 171,
 'T1N R9E 264': 12,
 'T1N R9E 272': 102,
 'T1N R9E 281': 140,
 'T1N R9E 282': 9,
 'T1N R9E 283': 72,
 'T1N R9E 284': 54,
 'T1N R9E 291': 76,
 'T1N R9E 292': 6,
 'T1N R9E 293': 39,
 'T1N R9E 3 1': 24,
 'T1N R9E 3 3': 263,
 'T1N R9E 311': 26,
 'T1N R9E 313': 30,
 'T1N R9E 314': 75,
 'T1N R9E 321': 18,
 'T1N R9E 322': 9,
 'T1N R9E 323': 6,
 'T1N R9E 324': 28,
 'T1N R9E 331': 21,
 'T1N R9E 332': 42,
 'T1N R9E 333': 73,
 'T1N R9E 334': 66,
 'T1N R9E 341': 5,
 'T1N R9E 342': 68,
 'T1N R9E 344': 6,
 'T1N R9E 351': 22,
 'T1N R9E 352': 45,
 'T1N R9E 353': 21,
 'T1N R9E 363': 15,
 'T1N R9E 4 2': 48,
 'T1N R9E 4 3': 300,
 'T1N R9E 4 4': 60,
 'T1N R9E 5 2': 30,
 'T1N R9E 5 3': 24,
 'T1N R9E 5 4': 429,
 'T1N R9E 6 1': 1,
 'T1N R9E 6 2': 21,
 'T1N R9E 6 3': 39,
 'T1N R9E 6 4': 15,
 'T1N R9E 7 1': 2,
 'T1N R9E 7 2': 36,
 'T1N R9E 7 3': 20,
 'T1N R9E 7 4': 10,
 'T1N R9E 9 1': 123,
 'T1N R9E 9 2': 39,
 'T1N R9E 9 3': 29,
 'T1S R10E101': 3,
 'T1S R10E103': 8,
 'T1S R10E162': 30,
 'T1S R10E164': 42,
 'T1S R10E172': 108,
 'T1S R10E173': 54,
 'T1S R10E174': 30,
 'T1S R10E181': 136,
 'T1S R10E183': 310,
 'T1S R10E191': 24,
 'T1S R10E192': 35,
 'T1S R10E194': 38,
 'T1S R10E201': 47,
 'T1S R10E202': 25,
 'T1S R10E203': 13,
 'T1S R10E204': 1,
 'T1S R10E211': 3,
 'T1S R10E212': 30,
 'T1S R10E213': 117,
 'T1S R10E214': 3,
 'T1S R10E222': 12,
 'T1S R10E291': 7,
 'T1S R10E292': 4,
 'T1S R10E293': 8,
 'T1S R10E294': 4,
 'T1S R10E301': 8,
 'T1S R10E302': 6,
 'T1S R10E303': 6,
 'T1S R10E304': 6,
 'T1S R10E311': 3,
 'T1S R10E312': 27,
 'T1S R10E321': 66,
 'T1S R10E333': 1,
 'T1S R10E334': 53,
 'T1S R10E343': 6,
 'T1S R10E363': 30,
 'T1S R10E4 2': 84,
 'T1S R10E4 3': 15,
 'T1S R10E6 3': 15,
 'T1S R10E7 2': 18,
 'T1S R10E7 3': 18,
 'T1S R10E8 3': 3,
 'T1S R10E9 1': 13,
 'T1S R10E9 2': 24,
 'T1S R7E 1 1': 2,
 'T1S R7E 1 2': 2,
 'T1S R7E 1 3': 20,
 'T1S R7E 1 4': 7,
 'T1S R7E 101': 14,
 'T1S R7E 103': 11,
 'T1S R7E 111': 18,
 'T1S R7E 112': 16,
 'T1S R7E 113': 70,
 'T1S R7E 114': 8,
 'T1S R7E 121': 64,
 'T1S R7E 122': 30,
 'T1S R7E 123': 6,
 'T1S R7E 124': 60,
 'T1S R7E 131': 10,
 'T1S R7E 132': 32,
 'T1S R7E 133': 12,
 'T1S R7E 134': 22,
 'T1S R7E 141': 41,
 'T1S R7E 142': 60,
 'T1S R7E 143': 91,
 'T1S R7E 144': 16,
 'T1S R7E 151': 115,
 'T1S R7E 152': 171,
 'T1S R7E 153': 16,
 'T1S R7E 154': 166,
 'T1S R7E 161': 20,
 'T1S R7E 162': 53,
 'T1S R7E 163': 3,
 'T1S R7E 164': 33,
 'T1S R7E 171': 17,
 'T1S R7E 172': 13,
 'T1S R7E 173': 28,
 'T1S R7E 174': 13,
 'T1S R7E 183': 3,
 'T1S R7E 191': 1,
 'T1S R7E 194': 1,
 'T1S R7E 2 1': 16,
 'T1S R7E 2 2': 2,
 'T1S R7E 2 3': 2,
 'T1S R7E 201': 13,
 'T1S R7E 202': 1,
 'T1S R7E 203': 72,
 'T1S R7E 204': 91,
 'T1S R7E 211': 210,
 'T1S R7E 212': 2,
 'T1S R7E 213': 77,
 'T1S R7E 214': 34,
 'T1S R7E 221': 2,
 'T1S R7E 222': 1,
 'T1S R7E 231': 222,
 'T1S R7E 232': 737,
 'T1S R7E 233': 13,
 'T1S R7E 234': 357,
 'T1S R7E 241': 14,
 'T1S R7E 242': 692,
 'T1S R7E 244': 139,
 'T1S R7E 251': 8,
 'T1S R7E 252': 9,
 'T1S R7E 253': 2,
 'T1S R7E 254': 46,
 'T1S R7E 3 4': 3,
 'T1S R7E 361': 20,
 'T1S R7E 362': 9,
 'T1S R7E 363': 14,
 'T1S R7E 364': 14,
 'T1S R8E 1 3': 30,
 'T1S R8E 1 4': 21,
 'T1S R8E 101': 413,
 'T1S R8E 102': 26,
 'T1S R8E 103': 14,
 'T1S R8E 104': 9,
 'T1S R8E 112': 896,
 'T1S R8E 113': 241,
 'T1S R8E 121': 86,
 'T1S R8E 123': 99,
 'T1S R8E 124': 187,
 'T1S R8E 131': 195,
 'T1S R8E 133': 116,
 'T1S R8E 134': 57,
 'T1S R8E 141': 2,
 'T1S R8E 142': 122,
 'T1S R8E 143': 374,
 'T1S R8E 151': 141,
 'T1S R8E 152': 148,
 'T1S R8E 153': 73,
 'T1S R8E 154': 162,
 'T1S R8E 161': 87,
 'T1S R8E 162': 4,
 'T1S R8E 163': 15,
 'T1S R8E 164': 1,
 'T1S R8E 171': 323,
 'T1S R8E 172': 333,
 'T1S R8E 173': 409,
 'T1S R8E 174': 265,
 'T1S R8E 181': 74,
 'T1S R8E 182': 15,
 'T1S R8E 183': 30,
 'T1S R8E 184': 125,
 'T1S R8E 191': 50,
 'T1S R8E 192': 20,
 'T1S R8E 193': 140,
 'T1S R8E 194': 15,
 'T1S R8E 2 1': 16,
 'T1S R8E 2 2': 18,
 'T1S R8E 2 3': 38,
 'T1S R8E 2 4': 38,
 'T1S R8E 201': 5,
 'T1S R8E 202': 5,
 'T1S R8E 203': 6,
 'T1S R8E 204': 3,
 'T1S R8E 211': 7,
 'T1S R8E 212': 7,
 'T1S R8E 213': 7,
 'T1S R8E 214': 7,
 'T1S R8E 221': 4,
 'T1S R8E 231': 3,
 'T1S R8E 232': 212,
 'T1S R8E 233': 52,
 'T1S R8E 234': 179,
 'T1S R8E 241': 71,
 'T1S R8E 243': 5,
 'T1S R8E 253': 234,
 'T1S R8E 254': 92,
 'T1S R8E 261': 50,
 'T1S R8E 264': 19,
 'T1S R8E 272': 38,
 'T1S R8E 274': 90,
 'T1S R8E 281': 69,
 'T1S R8E 282': 48,
 'T1S R8E 283': 247,
 'T1S R8E 284': 89,
 'T1S R8E 291': 181,
 'T1S R8E 292': 352,
 'T1S R8E 293': 179,
 'T1S R8E 294': 238,
 'T1S R8E 3 1': 24,
 'T1S R8E 3 2': 12,
 'T1S R8E 3 3': 69,
 'T1S R8E 3 4': 6,
 'T1S R8E 301': 208,
 'T1S R8E 302': 152,
 'T1S R8E 303': 80,
 'T1S R8E 304': 63,
 'T1S R8E 311': 20,
 'T1S R8E 312': 73,
 'T1S R8E 313': 144,
 'T1S R8E 314': 126,
 'T1S R8E 321': 48,
 'T1S R8E 322': 104,
 'T1S R8E 323': 77,
 'T1S R8E 324': 63,
 'T1S R8E 331': 297,
 'T1S R8E 332': 174,
 'T1S R8E 333': 28,
 'T1S R8E 334': 375,
 'T1S R8E 341': 24,
 'T1S R8E 342': 235,
 'T1S R8E 352': 351,
 'T1S R8E 4 1': 100,
 'T1S R8E 4 2': 62,
 'T1S R8E 4 3': 386,
 'T1S R8E 4 4': 4,
 'T1S R8E 5 1': 588,
 'T1S R8E 5 2': 209,
 'T1S R8E 5 3': 177,
 'T1S R8E 5 4': 160,
 'T1S R8E 6 1': 533,
 'T1S R8E 6 2': 561,
 'T1S R8E 6 3': 445,
 'T1S R8E 6 4': 478,
 'T1S R8E 7 1': 99,
 'T1S R8E 7 2': 8,
 'T1S R8E 7 3': 73,
 'T1S R8E 7 4': 4,
 'T1S R8E 8 1': 398,
 'T1S R8E 8 2': 275,
 'T1S R8E 8 3': 134,
 'T1S R8E 8 4': 72,
 'T1S R8E 9 1': 709,
 'T1S R8E 9 2': 47,
 'T1S R8E 9 3': 245,
 'T1S R8E 9 4': 327,
 'T1S R9E 1 1': 27,
 'T1S R9E 1 2': 44,
 'T1S R9E 1 4': 62,
 'T1S R9E 101': 123,
 'T1S R9E 102': 39,
 'T1S R9E 104': 225,
 'T1S R9E 111': 85,
 'T1S R9E 113': 139,
 'T1S R9E 114': 247,
 'T1S R9E 121': 1155,
 'T1S R9E 122': 3,
 'T1S R9E 123': 9,
 'T1S R9E 124': 29,
 'T1S R9E 131': 121,
 'T1S R9E 134': 12,
 'T1S R9E 141': 251,
 'T1S R9E 142': 159,
 'T1S R9E 143': 6,
 'T1S R9E 144': 6,
 'T1S R9E 151': 348,
 'T1S R9E 153': 7,
 'T1S R9E 154': 31,
 'T1S R9E 161': 406,
 'T1S R9E 162': 123,
 'T1S R9E 163': 78,
 'T1S R9E 164': 98,
 'T1S R9E 172': 1,
 'T1S R9E 174': 23,
 'T1S R9E 183': 128,
 'T1S R9E 184': 4,
 'T1S R9E 2 2': 24,
 'T1S R9E 2 4': 6,
 'T1S R9E 202': 24,
 'T1S R9E 204': 21,
 'T1S R9E 211': 15,
 'T1S R9E 212': 28,
 'T1S R9E 214': 15,
 'T1S R9E 222': 27,
 'T1S R9E 244': 12,
 'T1S R9E 273': 69,
 'T1S R9E 3 1': 3,
 'T1S R9E 3 2': 25,
 'T1S R9E 3 3': 104,
 'T1S R9E 3 4': 5,
 'T1S R9E 303': 12,
 'T1S R9E 311': 111,
 'T1S R9E 321': 7,
 'T1S R9E 323': 2,
 'T1S R9E 324': 117,
 'T1S R9E 332': 1,
 'T1S R9E 333': 264,
 'T1S R9E 334': 578,
 'T1S R9E 341': 2,
 'T1S R9E 343': 2,
 'T1S R9E 4 1': 138,
 'T1S R9E 4 2': 7,
 'T1S R9E 4 3': 198,
 'T1S R9E 4 4': 93,
 'T1S R9E 5 1': 15,
 'T1S R9E 5 2': 88,
 'T1S R9E 5 3': 33,
 'T1S R9E 5 4': 232,
 'T1S R9E 6 1': 72,
 'T1S R9E 6 2': 21,
 'T1S R9E 7 2': 30,
 'T1S R9E 7 3': 39,
 'T1S R9E 8 2': 22,
 'T1S R9E 8 3': 27,
 'T1S R9E 9 3': 87,
 'T2N R10E1 1': 24,
 'T2N R10E1 2': 2,
 'T2N R10E1 3': 82,
 'T2N R10E1 4': 10,
 'T2N R10E103': 8,
 'T2N R10E104': 18,
 'T2N R10E111': 59,
 'T2N R10E113': 37,
 'T2N R10E114': 62,
 'T2N R10E121': 59,
 'T2N R10E122': 69,
 'T2N R10E123': 27,
 'T2N R10E124': 27,
 'T2N R10E131': 116,
 'T2N R10E132': 18,
 'T2N R10E133': 89,
 'T2N R10E134': 155,
 'T2N R10E141': 87,
 'T2N R10E142': 66,
 'T2N R10E143': 9,
 'T2N R10E144': 20,
 'T2N R10E163': 24,
 'T2N R10E191': 29,
 'T2N R10E192': 4,
 'T2N R10E194': 18,
 'T2N R10E2 4': 24,
 'T2N R10E201': 30,
 'T2N R10E202': 105,
 'T2N R10E203': 123,
 'T2N R10E204': 21,
 'T2N R10E213': 30,
 'T2N R10E214': 279,
 'T2N R10E221': 432,
 'T2N R10E223': 135,
 'T2N R10E232': 380,
 'T2N R10E233': 18,
 'T2N R10E234': 78,
 'T2N R10E241': 382,
 'T2N R10E242': 300,
 'T2N R10E243': 288,
 'T2N R10E244': 157,
 'T2N R10E251': 181,
 'T2N R10E252': 161,
 'T2N R10E253': 93,
 'T2N R10E261': 96,
 'T2N R10E262': 79,
 'T2N R10E264': 359,
 'T2N R10E282': 170,
 'T2N R10E284': 9,
 'T2N R10E291': 29,
 'T2N R10E292': 2,
 'T2N R10E293': 30,
 'T2N R10E3 1': 285,
 'T2N R10E3 4': 7,
 'T2N R10E301': 33,
 'T2N R10E304': 71,
 'T2N R10E311': 198,
 'T2N R10E312': 206,
 'T2N R10E313': 125,
 'T2N R10E314': 192,
 'T2N R10E322': 3,
 'T2N R10E324': 69,
 'T2N R10E344': 36,
 'T2N R10E351': 42,
 'T2N R10E353': 243,
 'T2N R10E354': 26,
 'T2N R10E362': 30,
 'T2N R10E4 3': 59,
 'T2N R10E4 4': 94,
 'T2N R10E6 3': 28,
 'T2N R10E6 4': 51,
 'T2N R10E7 1': 3,
 'T2N R10E7 3': 48,
 'T2N R10E7 4': 13,
 'T2N R10E8 3': 306,
 'T2N R10E8 4': 427,
 'T2N R10E9 1': 3,
 'T2N R10E9 2': 26,
 'T2N R10E9 3': 85,
 'T2N R11E181': 48,
 'T2N R11E182': 207,
 'T2N R11E183': 66,
 'T2N R11E184': 3,
 'T2N R11E192': 78,
 'T2N R11E303': 6,
 'T2N R11E5 1': 310,
 'T2N R11E5 2': 92,
 'T2N R11E5 3': 331,
 'T2N R11E6 1': 209,
 'T2N R11E6 2': 187,
 'T2N R11E6 3': 6,
 'T2N R11E7 1': 8,
 'T2N R11E8 1': 99,
 'T2N R11E8 2': 105,
 'T2N R11E8 3': 272,
 'T2N R8E 254': 59,
 'T2N R8E 341': 19,
 'T2N R8E 342': 157,
 'T2N R8E 343': 12,
 'T2N R8E 344': 7,
 'T2N R8E 351': 12,
 'T2N R8E 352': 17,
 'T2N R8E 353': 24,
 'T2N R8E 354': 59,
 'T2N R8E 361': 105,
 'T2N R8E 362': 288,
 'T2N R8E 363': 350,
 'T2N R8E 364': 24,
 'T2N R9E 1 4': 71,
 'T2N R9E 121': 681,
 'T2N R9E 131': 6,
 'T2N R9E 132': 24,
 'T2N R9E 133': 48,
 'T2N R9E 143': 18,
 'T2N R9E 153': 33,
 'T2N R9E 201': 1,
 'T2N R9E 204': 12,
 'T2N R9E 211': 310,
 'T2N R9E 212': 331,
 'T2N R9E 214': 27,
 'T2N R9E 222': 51,
 'T2N R9E 223': 269,
 'T2N R9E 224': 9,
 'T2N R9E 234': 54,
 'T2N R9E 241': 72,
 'T2N R9E 281': 36,
 'T2N R9E 282': 3,
 'T2N R9E 283': 7,
 'T2N R9E 284': 15,
 'T2N R9E 292': 9,
 'T2N R9E 301': 57,
 'T2N R9E 302': 66,
 'T2N R9E 304': 30,
 'T2N R9E 312': 36,
 'T2N R9E 313': 9,
 'T2N R9E 322': 3,
 'T2N R9E 323': 9,
 'T2N R9E 324': 33,
 'T2N R9E 333': 111,
 'T2N R9E 341': 1,
 'T2N R9E 342': 2,
 'T2N R9E 343': 1,
 'T2N R9E 344': 10,
 'T2N R9E 353': 27,
 'T2N R9E 361': 123,
 'T2N R9E 362': 346,
 'T2N R9E 363': 16,
 'T2N R9E 364': 65,
 'T2S R10E1 1': 30,
 'T2S R10E101': 17,
 'T2S R10E102': 68,
 'T2S R10E103': 301,
 'T2S R10E104': 160,
 'T2S R10E124': 63,
 'T2S R10E132': 9,
 'T2S R10E142': 15,
 'T2S R10E151': 97,
 'T2S R10E152': 55,
 'T2S R10E153': 402,
 'T2S R10E154': 582,
 'T2S R10E161': 39,
 'T2S R10E164': 318,
 'T2S R10E173': 2,
 'T2S R10E191': 33,
 'T2S R10E193': 87,
 'T2S R10E194': 21,
 'T2S R10E201': 28,
 'T2S R10E203': 334,
 'T2S R10E204': 697,
 'T2S R10E211': 255,
 'T2S R10E213': 217,
 'T2S R10E214': 92,
 'T2S R10E221': 24,
 'T2S R10E222': 260,
 'T2S R10E224': 9,
 'T2S R10E232': 35,
 'T2S R10E234': 247,
 'T2S R10E241': 6,
 'T2S R10E242': 2,
 'T2S R10E244': 905,
 'T2S R10E251': 54,
 'T2S R10E253': 1,
 'T2S R10E261': 158,
 'T2S R10E262': 54,
 'T2S R10E263': 5,
 'T2S R10E264': 3,
 'T2S R10E272': 11,
 'T2S R10E274': 5,
 'T2S R10E3 2': 98,
 'T2S R10E3 3': 64,
 'T2S R10E302': 2,
 'T2S R10E351': 5,
 'T2S R10E362': 27,
 'T2S R10E4 1': 55,
 'T2S R10E4 3': 111,
 'T2S R10E4 4': 4,
 'T2S R10E5 3': 51,
 'T2S R10E5 4': 61,
 'T2S R10E6 1': 206,
 'T2S R10E6 2': 33,
 'T2S R10E6 4': 30,
 'T2S R10E9 1': 257,
 'T2S R10E9 2': 321,
 'T2S R10E9 3': 1,
 'T2S R10E9 4': 415,
 'T2S R11E191': 11,
 'T2S R11E192': 8,
 'T2S R11E193': 49,
 'T2S R11E201': 40,
 'T2S R11E211': 19,
 'T2S R11E214': 5,
 'T2S R11E281': 19,
 'T2S R11E283': 23,
 'T2S R11E293': 27,
 'T2S R11E302': 4,
 'T2S R11E304': 27,
 'T2S R11E7 3': 2,
 'T2S R11E8 3': 2,
 'T2S R7E 1 1': 8,
 'T2S R7E 101': 13,
 'T2S R7E 103': 18,
 'T2S R7E 111': 286,
 'T2S R7E 112': 9,
 'T2S R7E 113': 2,
 'T2S R7E 114': 293,
 'T2S R7E 121': 2,
 'T2S R7E 122': 5,
 'T2S R7E 123': 2,
 'T2S R7E 124': 2,
 'T2S R7E 132': 1,
 'T2S R7E 133': 7,
 'T2S R7E 141': 3,
 'T2S R7E 142': 8,
 'T2S R7E 143': 8,
 'T2S R7E 144': 3,
 'T2S R7E 153': 289,
 'T2S R7E 154': 3,
 'T2S R7E 161': 9,
 'T2S R7E 162': 9,
 'T2S R7E 163': 30,
 'T2S R7E 164': 183,
 'T2S R7E 171': 11,
 'T2S R7E 172': 6,
 'T2S R7E 2 1': 2,
 'T2S R7E 2 4': 3,
 'T2S R7E 211': 188,
 'T2S R7E 221': 15,
 'T2S R7E 222': 47,
 'T2S R7E 223': 11,
 'T2S R7E 224': 12,
 'T2S R7E 231': 8,
 'T2S R7E 232': 11,
 'T2S R7E 233': 5,
 'T2S R7E 241': 6,
 'T2S R7E 242': 6,
 'T2S R7E 263': 6,
 'T2S R7E 271': 7,
 'T2S R7E 272': 60,
 'T2S R7E 343': 3,
 'T2S R7E 354': 55,
 'T2S R7E 362': 24,
 'T2S R7E 363': 24,
 'T2S R7E 364': 3,
 'T2S R8E 1 1': 24,
 'T2S R8E 1 2': 24,
 'T2S R8E 1 3': 25,
 'T2S R8E 1 4': 78,
 'T2S R8E 101': 170,
 'T2S R8E 102': 121,
 'T2S R8E 103': 15,
 'T2S R8E 104': 216,
 'T2S R8E 111': 8,
 'T2S R8E 112': 12,
 'T2S R8E 113': 25,
 'T2S R8E 114': 127,
 'T2S R8E 121': 16,
 'T2S R8E 131': 168,
 'T2S R8E 132': 65,
 'T2S R8E 133': 163,
 'T2S R8E 134': 448,
 'T2S R8E 141': 101,
 'T2S R8E 142': 30,
 'T2S R8E 143': 712,
 'T2S R8E 144': 90,
 'T2S R8E 151': 3,
 'T2S R8E 152': 117,
 'T2S R8E 153': 163,
 'T2S R8E 154': 72,
 'T2S R8E 161': 31,
 'T2S R8E 163': 57,
 'T2S R8E 164': 35,
 'T2S R8E 171': 498,
 'T2S R8E 172': 87,
 'T2S R8E 173': 29,
 'T2S R8E 174': 160,
 'T2S R8E 181': 27,
 'T2S R8E 183': 2,
 'T2S R8E 184': 8,
 'T2S R8E 191': 27,
 'T2S R8E 193': 21,
 'T2S R8E 194': 33,
 'T2S R8E 2 1': 16,
 'T2S R8E 2 2': 188,
 'T2S R8E 2 3': 475,
 'T2S R8E 2 4': 16,
 'T2S R8E 201': 48,
 'T2S R8E 202': 12,
 'T2S R8E 203': 64,
 'T2S R8E 211': 63,
 'T2S R8E 213': 42,
 'T2S R8E 214': 97,
 'T2S R8E 221': 407,
 'T2S R8E 222': 288,
 'T2S R8E 223': 144,
 'T2S R8E 224': 79,
 'T2S R8E 231': 95,
 'T2S R8E 232': 105,
 'T2S R8E 233': 149,
 'T2S R8E 234': 85,
 'T2S R8E 241': 35,
 'T2S R8E 242': 221,
 'T2S R8E 243': 109,
 'T2S R8E 244': 212,
 'T2S R8E 251': 162,
 'T2S R8E 252': 214,
 'T2S R8E 253': 15,
 'T2S R8E 254': 206,
 'T2S R8E 261': 972,
 'T2S R8E 262': 159,
 'T2S R8E 263': 201,
 'T2S R8E 264': 222,
 'T2S R8E 271': 309,
 'T2S R8E 272': 330,
 'T2S R8E 273': 3,
 'T2S R8E 274': 75,
 'T2S R8E 281': 24,
 'T2S R8E 282': 14,
 'T2S R8E 283': 199,
 'T2S R8E 284': 4,
 'T2S R8E 291': 1,
 'T2S R8E 292': 120,
 'T2S R8E 293': 3,
 'T2S R8E 294': 57,
 'T2S R8E 3 1': 20,
 'T2S R8E 3 2': 309,
 'T2S R8E 3 3': 216,
 'T2S R8E 3 4': 22,
 'T2S R8E 302': 12,
 'T2S R8E 303': 19,
 'T2S R8E 304': 11,
 'T2S R8E 311': 10,
 'T2S R8E 312': 23,
 'T2S R8E 314': 209,
 'T2S R8E 322': 24,
 'T2S R8E 323': 60,
 'T2S R8E 331': 7,
 'T2S R8E 333': 6,
 'T2S R8E 334': 15,
 'T2S R8E 351': 4,
 'T2S R8E 354': 14,
 'T2S R8E 361': 5,
 'T2S R8E 363': 19,
 'T2S R8E 4 1': 209,
 'T2S R8E 4 2': 83,
 'T2S R8E 4 3': 93,
 'T2S R8E 4 4': 295,
 'T2S R8E 5 1': 478,
 'T2S R8E 5 2': 1808,
 'T2S R8E 5 3': 3,
 'T2S R8E 5 4': 14,
 'T2S R8E 6 1': 137,
 'T2S R8E 6 2': 125,
 'T2S R8E 6 3': 352,
 'T2S R8E 6 4': 288,
 'T2S R8E 7 1': 205,
 'T2S R8E 7 3': 153,
 'T2S R8E 7 4': 141,
 'T2S R8E 8 1': 30,
 'T2S R8E 8 2': 106,
 'T2S R8E 8 3': 86,
 'T2S R8E 8 4': 566,
 'T2S R8E 9 1': 101,
 'T2S R8E 9 2': 125,
 'T2S R8E 9 3': 18,
 'T2S R8E 9 4': 185,
 'T2S R9E 1 1': 4,
 'T2S R9E 1 3': 130,
 'T2S R9E 101': 1,
 'T2S R9E 104': 18,
 'T2S R9E 111': 4,
 'T2S R9E 112': 17,
 'T2S R9E 114': 3,
 'T2S R9E 132': 9,
 'T2S R9E 141': 7,
 'T2S R9E 143': 3,
 'T2S R9E 154': 5,
 'T2S R9E 163': 89,
 'T2S R9E 171': 52,
 'T2S R9E 172': 221,
 'T2S R9E 173': 41,
 'T2S R9E 174': 11,
 'T2S R9E 182': 79,
 'T2S R9E 183': 72,
 'T2S R9E 184': 18,
 'T2S R9E 191': 33,
 'T2S R9E 2 1': 1,
 'T2S R9E 2 3': 35,
 'T2S R9E 2 4': 36,
 'T2S R9E 202': 16,
 'T2S R9E 212': 7,
 'T2S R9E 214': 75,
 'T2S R9E 221': 54,
 'T2S R9E 223': 18,
 'T2S R9E 231': 4,
 'T2S R9E 232': 4,
 'T2S R9E 233': 4,
 'T2S R9E 234': 22,
 'T2S R9E 244': 84,
 'T2S R9E 251': 102,
 'T2S R9E 252': 154,
 'T2S R9E 261': 51,
 'T2S R9E 262': 54,
 'T2S R9E 273': 41,
 'T2S R9E 274': 21,
 'T2S R9E 283': 55,
 'T2S R9E 284': 81,
 'T2S R9E 291': 84,
 'T2S R9E 292': 2,
 'T2S R9E 293': 4,
 'T2S R9E 294': 133,
 'T2S R9E 3 1': 3,
 'T2S R9E 3 2': 110,

In [84]:
loc_ft = ft[['TRSQ', 'WoodFrog', 'ChorusFrog', 'SpringPeeper', 'AmericanToad', 'LeopardFrog', 
               'GrayTreeFrog', 'GreenFrog', 'BullFrog', 'num_species']].groupby('TRSQ').mean()
loc_ft.head()

,WoodFrog,ChorusFrog,SpringPeeper,AmericanToad,LeopardFrog,GrayTreeFrog,GreenFrog,BullFrog,num_species
TRSQ,,,,,,,,,
T1N R10E1 1,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.666667,0.666667,1.333333
T1N R10E1 3,0.000000,0.0,0.226415,0.000000,0.000000,0.0,0.000000,0.000000,0.226415
T1N R10E102,0.136364,0.0,0.227273,0.363636,0.272727,0.0,0.318182,0.272727,1.590909
T1N R10E104,0.090909,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.090909
T1N R10E112,0.000000,0.0,0.000000,0.311111,0.000000,0.0,0.088889,0.000000,0.400000

In [85]:
loc_ft.to_csv('avg_loc.csv')

In [89]:
ft

,TRSQ,Observationyear,ObservationStartDate,StartTime,EndTime,WindCode,AirTemp,Precipitation,WoodFrog,ChorusFrog,SpringPeeper,AmericanToad,LeopardFrog,GrayTreeFrog,GreenFrog,BullFrog,num_species
0,T1S R7E 171,1998,3/29/1998,9:17:00 PM,9:32:00 PM,2.0,60.0,False,1,1,0,0,0,0,0,0,2
1,T1S R7E 171,1998,4/8/1998,8:50:00 PM,9:05:00 PM,1.0,58.0,True,0,1,0,0,0,0,0,0,1
2,T1S R7E 171,1998,4/26/1998,9:50:00 PM,10:05:00 PM,3.0,50.0,False,0,0,1,0,0,0,0,0,1
3,T1S R7E 171,1998,5/1/1998,9:10:00 PM,9:25:00 PM,2.0,60.0,False,0,0,1,1,0,0,0,0,2
4,T1S R7E 171,1998,3/31/1998,7:00:00 PM,NaN,2.0,73.0,False,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92974,T1S R8E 6 3,2022,6/5/2022,9:40:00 PM,9:55:00 PM,1.0,65.0,False,0,0,0,0,0,1,0,0,1
92975,T1S R8E 6 1,2022,4/2/2022,6:35:00 PM,6:50:00 PM,0.0,45.0,False,1,1,0,0,0,0,0,0,2
92976,T1S R8E 6 1,2022,4/3/2022,8:00:00 PM,8:15:00 PM,0.0,45.0,False,0,1,0,0,0,0,0,0,1
92977,T1S R8E 6 1,2022,4/5/2022,9:00:00 PM,9:15:00 PM,1.0,52.0,False,1,1,1,0,0,0,0,0,3
92978,T1S R8E 6 1,2022,4/10/2022,8:15:00 PM,8:30:00 PM,1.0,54.0,False,1,1,1,0,0,0,0,0,3

In [124]:
trsq[0].iloc[2]

'T1S R7E 173'

In [127]:
df = pd.DataFrame()
frogs = ['WoodFrog', 'ChorusFrog', 'SpringPeeper', 'AmericanToad', 'LeopardFrog', 
         'GrayTreeFrog', 'GreenFrog', 'BullFrog']
trsq = []
yr = []
full_frogs = []
for frog in frogs:
    trsq.append(ft[ft[frog] == 1]['TRSQ'])
    yr.append(ft[ft[frog] == 1]['Observationyear'])
    for i in range(len(ft[ft[frog] == 1]['TRSQ'])):
        full_frogs.append(frog)
df['frog_type'] = full_frogs
trsq_full = []
yr_full = []
for i in range(len(trsq)):
    for j in range(len(trsq[i])):
        trsq_full.append(trsq[i].iloc[j])
        yr_full.append(yr[i].iloc[j])
df['TRSQ'] = trsq_full
df['Observationyear'] = yr_full
df

      frog_type         TRSQ  Observationyear
0      WoodFrog  T1S R7E 171             1998
1      WoodFrog  T1S R7E 172             1998
2      WoodFrog  T1S R7E 173             1998
3      WoodFrog  T1S R7E 174             1998
4      WoodFrog  T1S R7E 124             1998
...         ...          ...              ...
99433  BullFrog  T2S R10E154             2022
99434  BullFrog  T2S R10E154             2022
99435  BullFrog  T2S R10E222             2022
99436  BullFrog  T2S R8E 252             2022
99437  BullFrog  T2S R8E 214             2022

[99438 rows x 3 columns]

In [130]:
df = df.drop_duplicates()

In [131]:
df.to_csv('frog_type_loc_yr.csv')